spring:
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create

logging:
  level:
    root: INFO

auth:
  jwt:
    secret: jwt-secret-test
    expiration: 1000

api:
  key: api-key-test